.jumbotron {
  width: 600px;
  text-align: center;
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
  background-color: white !important;
}

h3 {
  margin-bottom: 30px;
}
.table {
  margin-top: 20px;
}
.form-control {
  margin-bottom: 5px;
}
.selected {
  background-color: #E9967A;
}
/*#FFA07A*/
