<div class="container-fluid" style="background-image: url('resource/background.jpg'); display:block; background-size:100%";>
  <div class="jumbotron">
    <div class="container">

      <div class="page-header">
        <h2>RESTAURANTE</h2>
      </div>

      <h3>{{menuTitle}}</h3>

      <input class="form-control" type="text" ng-model="searchCriteria" placeholder="O que você está buscando?">

      <table class="table table-striped table-condensed">
        <thead>
          <tr>
            <th>Descrição <a href="" ng-click="orderMenuBy('description')"><span class="glyphicon glyphicon-sort btn-xs" aria-hidden="true"></span></a></th>
            <th>Preço <a href="" ng-click="orderMenuBy('price')"><span class="glyphicon glyphicon-sort btn-xs" aria-hidden="true"></a></span></th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="item in menuItems | filter:searchCriteria | orderBy:ordinationMenu:directionOrder">
            <td align="left">{{item.description}}</td>
            <td align="left"><span ng-bind='item.price | currency:"R$ "'></span></td>
          </tr>
        </tbody>
      </table>

      </br>

      <div ng-show="orders.getOrders().length > 0">
        <legend>{{orderTitle}}</legend>

        <table class="table table-condensed">
          <thead>
            <tr>
              <th></th>
              <th>Data</th>
              <th>Descrição</th>
              <th>Preço</th>
              <th>Qtde</th>
              <th>Telefone</th>
              <th>Subtotal</th>
            </tr>
          </thead>
          <tbody>
            <tr ng-class="{'selected': order.selected}" ng-repeat="order in orders.getOrders()">
              <td><input type="checkbox" ng-model="order.selected"/></td>
              <td align="left">{{order.date | date: 'dd/MM HH:mm'}}</td>
              <td align="left">{{order.orderItem.item.description}}</td>
              <td align="left">{{order.orderItem.item.price | currency}}</td>
              <td align="left">{{order.orderItem.quantity}}</td>
              <td align="left">{{order.orderItem.phone}}</td>
              <td align="left">{{order.subtotal | currency}}</td>
            </tr>
          </tbody>
        </table>

        <div>
          <p style="font-size: 25px; float: right"><strong>Total</strong> {{orders.getTotalOrder() | currency}}</p>
        </div>

        <form name="orderForm" class="form-horizontal">
          <div class="form-group">
            <div class="col-md-6 col-md-offset-6">
              <button class="btn btn-danger btn-block" ng-click="orders.removeOrder()" ng-if="orders.hasSelectedSomeOrder()">
                <span class="glyphicon glyphicon-remove" aria-hidden="true"></span> Remover selecionado(s)
              </button>
            </div>
          </div>
        </form>
      </div>

      <div ng-hide="orders.getOrders().length > 0"> <!-- <div ng-if="orders.getOrders().length <= 0"> -->
        <legend>Monte seu pedido</legend>
      </div>

      </br>

      <form name="orderForm" class="form-horizontal">
        <div class="form-group">
          <label class="col-md-6 control-label">Quantidade</label>
          <div class="col-md-6">
            <input class="form-control input-md" type="number" ng-model="order.quantity" name="quantity" ng-required="true"> <!--min=1-->
          </div>
        </div>

        <div class="form-group">
          <label class="col-md-6 control-label">Item</label>
          <div class="col-md-6">
            <select class="form-control" ng-model="order.item" name="item" ng-options="order.description for order in menuItems | orderBy:'description'" ng-required="true">
              <option value="">Selecione um item</option>
            </select>
          </div>
        </div>

        <div class="form-group">
          <label class="col-md-6 control-label">Telefone</label>
          <div class="col-md-6">
            <input class="form-control" type="text" ng-model="order.phone" name="phone" ng-model-options="{updateOn: 'default blur', debounce: { 'default': 500, 'blur': 0 }}" ng-required="true" ng-pattern="/^\d{4,5}-\d{4}$/"/>
          </div>
        </div>

        <div class="form-group">
          <div class="col-md-6 col-md-offset-6">
            <button class="btn btn-success btn-block" ng-click="orders.addOrder(order)" ng-disabled="orderForm.$invalid">
              <span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Adicionar Item
            </button>
          </div>
        </div>
      </form>

      <div ng-show="orderForm.quantity.$dirty && orderForm.quantity.$invalid" class="alert alert-danger">
        Por favor, preencha o campo quantidade!
      </div>

      <div ng-show="orderForm.item.$dirty && orderForm.item.$error.required" class="alert alert-danger">
        Por favor, selecione um item!
      </div>

      <div ng-show="orderForm.phone.$dirty && orderForm.phone.$error.required" class="alert alert-danger">
        Por favor, preencha o telefone!
      </div>

      <div ng-show="orderForm.phone.$error.pattern" class="alert alert-danger">
        O campo telefone deve ter o formato DDDDD-DDDD!
      </div>

    </div>
    <div ng-include="'view/footer.html'"></div>
  </div>
</div>
